* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    background-image:url(https://jujutsukaisen.jp/images/top_r/mv_re_new.jpg);
    background-repeat:no-repeat;
    background-size:cover;
  }
.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    left:-9rem;
    position:relative;
    border-radius:1.875rem;
    box-shadow:0 5px 15px rgba(0,0,0,0.35);
    width:970PX;
    height:75vh;
    max-width:100%;
    min-height:480px;
    background-color:#fff;
  }
.container__content {
    margin-left:3rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    width:500px;
    height:500px;
  }
.container__content__img {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:8vh;
  }
#container__content__img--logo {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:15vh;
    height:auto;
  }
.container__content__title {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    width:100%;
    height:6vh;
  }
#tittle--createaccount {
    font-size:1.4rem;
    font-family:"Poppins",sans-serif;
    font-weight:700;
    font-style:normal;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
  }
.container__content__socials {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:8vh;
  }
.container__content__social--button {
    font-family:"Poppins",sans-serif;
    font-style:normal;
    background-color:#eee;
    border:none;
    margin:0.125rem 0;
    padding:0.75rem 1.875rem;
    font-size:0.6rem;
    border-radius:1.875rem;
    outline:none;
    font-size:0.7rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:14vw;
    height:4.5vh;
    gap:0.3rem;
  }
.social--button--icon {
    padding:8rem,4rem;
    padding:auto;
    border:none;
    border-radius:20%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 0.188rem;
    width:1.18vw;
    height:2.125vh;
  }
.container__content__social--Google {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
    gap:0.5rem;
  }
.container_content_social-facebook {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
.container__content__otherforms {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:3.1vh;
  }
.container__content__otherforms--text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;
    width:100%;
    height:3vh;
  }
.container__content__otherforms--text--p {
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:0.7rem;
    font-family:"Poppins",sans-serif;
    font-weight:600;
    font-style:normal;
  }
.container__content__otherforms--outline {
    margin-top:0.2rem;
    bottom:0;
    left:0;
    width:100%;
    height:0.2vh;
    background-color:#eee;
  }
.container__content__form {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:30vh;
  }
.container__content__form__fullname {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    width:100%;
    height:10vh;
  }
.etiqueta {
    display:flex;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:0.7rem;
  }
.input1 {
    background-color:#eee;
    border:none;
    margin:0.125rem 0;
    padding:0.75rem 1.875rem;
    font-size:0.813rem;
    border-radius:1.875rem;
    outline:none;
    font-size:0.7rem;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:14vw;
    height:4.3vh;
  }
.container__content__form--fullname--firstname{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container_content__form--fullname--lastname {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container__content__form__contact {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    width:100%;
    height:10vh;
  }
  .container__content__form--contact--email {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container__content__form--contact--phonenumber {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container__content__form--passwords {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    width:100%;
    height:10vh;
  }
  .container__content__form--passwords--password {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container__content__form--passwords--repeatpassword{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:17vw;
    height:100%;
  }
  .container__content__form__gender {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:8vh;
  }
  .container__content__form__gender--male {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    width:6vw;
    height:100%;
    gap:0.3rem;
  }
  .gender--btn--unselected {
    border:solid;
    height:10px;
    width:10px;
    background-color:#6c6c6c;
    border-radius:60%;
    border:0.125rem solid;
    color:#c8c7c7;
  }
  .gender--btn--unselected {
    border:solid;
    height:1.25vh;
    width:0.69vw;
    border-radius:60%;
    border:0.125rem solid;
    color:#c8c7c7;
    background-color:#c8c7c7;
  }
  .btn--label {
    display:flex;
    font-family:"Poppins",sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:0.7rem;
  }
  .container__content__form__gender--female {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    width:6vw;
    height:100%;
    gap:0.3rem;
  }
  .container__content__form__gender--other {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    width:6vw;
    height:100%;
    gap:0.3rem;
  }
  .container__content__submit {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:18vh;
  }
  .container__content__submit--button {
    margin-top:0.5rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:6vh;
  }
  .container__content__submit--Sign {
    margin-top:0.5rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
    width:100%;
    height:3vh;
  }
  .content__submit--button--signup {
    color:#fff;
    background-color:#452870;
    border:none;
    margin:0.125rem 0;
    border-radius:1.875rem;
    outline:none;
    font-family:"Poppins",sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:0.875rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:7vw;
    height:4.7vh;
  }
  .content__submit--Sign--href {
    display:flex;
    font-family:"Poppins",sans-serif;
    font-weight:600;
    font-style:normal;
    font-size:0.7rem;
    text-decoration:none;
  }
  .container__ilustration {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
    align-content:flex-end;
    left:43rem;
    width:40vw;
    height:100%;
  }
  .container__ilustration--img {
    width:50vw;
    height:60vh;
  }
  