
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-image: url(https://jujutsukaisen.jp/images/top_r/mv_re_new.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .container {
    display: flex;
    border-radius: 1.875rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 57.124vw;
    height: 46.2963vh;
    max-width: 100%;
    min-height: 480px;
    background-color: white;
  }
  .child__container__accountsettings {
    margin-left: 1.5rem;
    position: absolute;
    align-items: center;
    width: 65%;
    height: 500px;
    border-radius: 1.875rem;
    padding: 0.625rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
  }
  .accountsettings__tittle {
    display: flex;
    width: 100%;
    height: 10vh;
    align-content: center;
    align-items: center;
  }
  #accountsettings__tittle--account {
    margin-left: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #414042;
  }
  .accountsettings__fullnames {
    margin-left: 1.5rem;
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: row;
  }
  .fullnames--firstname {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
  }
  .fullnames--lastname {
    display: flex;
    flex-direction: column;
  }
  .child__container__userprofile {
    margin-left: 1.5rem;
    display: flex;
    width: 100%;
    height: 33vh;
    flex-direction: column;
  }
  .userprofile--email {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    width: 100%;
    height: 9vh;
    flex-direction: column;
  }
  .etiqueta {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
  }
  .userprofile--password {
    margin-top: 0.3rem;
    display: flex;
    width: 100%;
    height: 9vh;
    flex-direction: column;
  }
  .userprofile--newpassword {
    margin-top: 0.2rem;
    display: flex;
    width: 100%;
    height: 9vh;
    flex-direction: column;
  }
  .child__container__confirnbtn {
    margin-left: 1.5rem;
    align-items: center;
    display: flex;
    width: 100%;
    height: 5vh;
    flex-direction: column;
  }
  .child__container__confirnbtn {
    display: flex;
    flex-direction: row;
  }
  .confirnbtn--change {
    display: flex;
    width: 10vw;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
  }
  .confirnbtn--cancel {
    display: flex;
    width: 10vw;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
  }
  .in {
    background-color: #eee;
    border: none;
    margin: 0.125rem 0;
    padding: 0.75rem 1.875rem;
    font-size: 1.563rem;
    border-radius: 1.875rem;
    outline: none;
    font-size: 0.7rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 12vw;
    height: 4.5vh;
    
  }
  .in2 {
    background-color: #eee;
    border: none;
    margin: 0.125rem 0;
    padding: 0.75rem 1.875rem;
    font-size: 1.563rem;
    border-radius: 1.875rem;
    outline: none;
    font-size: 0.7rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 16vw;
    height: 4.5vh;

  }
  ::placeholder {
    color: black;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label2 {
    padding-left: 2rem;
    margin-right: 2rem;
    margin-left: 3rem;
  }
  .card {
    display: flex;
    width: 35%;
    height: 500px;
    right: 210px;
    border-radius: 1.875rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b798e2;
  }
  .info {
    display: flex;
    border: none;
    width: 80%;
    height: 42.5926vh;
    border-radius: 1.875rem;
    align-items: center;
    flex-direction: column;
  }
  .card__pfp {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(https://i.pinimg.com/564x/7a/89/37/7a893742a2e5b95de41b98d1a16dca21.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 6vh;
  }
  .card__pfp--name {
    color: #fff;
    font-size: 1.4rem;
  }
  #pfp--name--username {
    color: #414042;
    font-size: 1.4rem;
    margin-top: 2vh;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.031rem;
  }
  .card__pfp--desc {
    margin-top: 1.3vh;
  }
  #desc--btn {
    color: #fff;
    background-color: #452870;
    font-size: 0.875rem;
    letter-spacing: 0.031rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 0.063rem solid transparent;
    border-radius: 1.875rem;
    margin-top: 0.625rem;
    cursor: pointer;
    align-self: center;
    padding: 0.313rem 5.313rem;
  }
  .btn2 {
    color: #fff;
    background-color: #452870;
    border: none;
    margin: 0.125rem 0;
    border-radius: 1.875rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 4.7vh;
  }
  .btn3 {
    color: #fff;
    background-color: #bdbdbd;
    border: none;
    margin: 0.125rem 0;
    margin: 0;
    border-radius: 1.875rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 4.7vh;
  }
  .card__pfp--logo {
    margin-top: 18vh;
  }
  #card__pfp-logo--jjk {
    width: 120px;
    height: auto;
    padding: 0.5rem;
  }
  
