* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
  background-image: url(../BACKGROUND_LOWOPACITY_Mesa\ de\ trabajo\ 1.jpg);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}


nav {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.938rem;
  font-weight: bold;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 0.2vh;
  background: rgba(15, 188, 221, 1);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.usser {
  width: 50px;
  border-radius: 5rem;
}

.title {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}
.Container {
  height: 37rem;
  width: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
}
.Container__content {
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: row;
}
.Container__content__Character {
  width: 25%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.Container__content__Character--selected {
  position: absolute;

  width: 21.2rem;
  height: 30rem;
  margin-top: 1.25rem;
}
#Character--fullbody {
  width: 26rem;
  height: 36rem;
}
.Container__content__Character--background {
  position: absolute;
  width: 21.2rem;
  height: 25rem;

  border-radius: 1.875rem;
  display: flex;
  margin-top: 2.5rem;

  background-color: #ffffff;
  opacity: 40%;
  z-index: -2;
}
.Container__info {
  height: 100%;
  width: 35rem;

  margin-left: 10rem;
}
.Container__info--star {
  height: 2rem;
  width: 2rem;
  margin-left: 30.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.Container__info--text {
  margin-top: 4rem;
  margin-left: 1, 5rem;
  padding-left: 3rem;

  height: 4rem;
  width: 100%;
}
.Container__info--text--p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  text-align: flex-end;
  color: #ffffff;
  line-height: 2.3em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.Container__info--text--p-sinspacing {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  text-align: flex-end;
  color: #ffffff;
}
.Container__info--icons {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 12rem;
}
.icons {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  background-position: center center;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden;
}
